@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500&display=swap');
/* 
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif; */


.banner-bg {
    background-color: #fdeee2e5;
}

.main-color {
    background-color: #FA804C;

}

.main-color:hover {
    background-color: red;
}

.main-text-color {
    color: #FA804C;
    font-size: 4rem;
    font-family: 'Bebas Neue',
        cursive;
    letter-spacing: 10px;
}

.main-font-color {
    color: #FA804C !important;
}


.secondary-text-color {
    color: #363958;
    font-size: 2rem;
    font-family: 'Bebas Neue',
        cursive;
    letter-spacing: 5px;
}

.secondary-text {
    color: #363958 !important;
    font-family: 'Montserrat', sans-serif !important;

}